*,
:after,
:before,
legend,
td,
th {
    padding: 0
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0
}

canvas,
img,
video {
    max-width: 100%
}

[type=submit] {
    border-radius: 0
}

img,
legend {
    border: 0
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
optgroup,
strong {
    font-weight: 700
}

mark {
    background: #ff0;
    color: #000
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre,
textarea {
    overflow: auto;
    vertial-align: top
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

ol,
ul {
    list-style-type: none
}

body,
html {
    height: 100%
}

body {
    background-color: #f4f4f4
}

body.layout_purple {
    background-color: #fff
}

body,
button,
input,
select,
textarea {
    font-family: -apple-system, blinkmacsystemfont, applesdgothicneo, apple sd gothic neo, Helvetica, noto sans kr, malgun gothic, ���� ����, sans-serif;
    line-height: 1;
    font-size: 14px;
    color: #333;
    letter-spacing: 0
}

button {
    outline: none;
    border-radius: 0
}

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

.noBody {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%
}

.btn_type1,
.btn_type2,
.btn_type3,
.btn_type4,
.btn_type5,
.btn_type99,
.btn_type100 {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    font-size: 0;
    text-align: center;
    outline: none
}

.btn_type99,
.btn_type100 {
    height: 58px
}

.btn_type1 .txt_type,
.btn_type2 .txt_type,
.btn_type3 .txt_type,
.btn_type4 .txt_type,
.btn_type5 .txt_type,
.btn_type99 .txt_type,
.btn_type100 .txt_type {
    display: inline-block;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 48px;
    text-align: center
}

.btn_type99 .txt_type,
.btn_type100 .txt_type {
    line-height: 58px
}

.btn_type1 .extra,
.btn_type2 .extra,
.btn_type3 .extra,
.btn_type4 .extra,
.btn_type5 .extra,
.btn_type99 .extra,
.btn_type100 .extra {
    opacity: .6
}

.fixed_btn,
.btn_type99.btn_fixed,
.btn_type100.btn_fixed {
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 49px;
    width: 100%
}

.btn_type100.btn_fixed {
    height: auto;
    padding: 12px;
    border: none;
    background: 0 0
}

.btn_type100.btn_fixed .txt_type {
    display: block;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #5f0081;
    background: #5f0081;
    line-height: 49px
}

.fixed_btn .btn_type1,
.fixed_btn .btn_type2,
.fixed_btn .btn_type3,
.fixed_btn .btn_type4,
.fixed_btn .btn_type5 {
    float: left;
    width: 50%;
    border-radius: 0
}

.btn_type1 {
    border: 1px solid #5f0081;
    background-color: #5f0080
}

.btn_type1 .txt_type {
    color: #fff
}

.btn_type1.btn_disabled {
    border: 1px solid #ddddde;
    background-color: #ddd
}

.btn_type1.btn_disabled .txt_type {
    color: #fff
}

.btn_type2 {
    border: 1px solid #ddd;
    background-color: #fff
}

.btn_type2 .txt_type {
    color: #333
}

.btn_type2.btn_disabled {
    border: 1px solid #ddd
}

.btn_type2.btn_disabled .txt_type {
    color: #ddd
}

.btn_type3 {
    border: 1px solid #ddd;
    background-color: #fff
}

.btn_type3 .txt_type {
    color: #333
}

.btn_type3.btn_disabled .txt_type {
    color: #ddd
}

.btn_type4 {
    border: 1px solid #5f0081;
    background-color: #5f0080
}

.btn_type4 .txt_type {
    overflow: hidden;
    font-size: 0;
    text-indent: -9999px
}

.btn_type5 {
    border: 1px solid #5f0081;
    background-color: #fff
}

.btn_type5 .txt_type {
    overflow: hidden;
    font-size: 0;
    text-indent: -9999px
}

.btn_type99 {
    border: 1px solid #5f0081;
    border-radius: 0;
    background-color: #fff
}

.btn_type99 .txt_type {
    color: #5f0081
}

.btn_type100 {
    border: 1px solid #5f0081;
    border-radius: 0;
    background-color: #5f0080
}

.btn_type100.btn_disabled {
    border: 1px solid #ddddde;
    background-color: #ddd
}

.btn_type100.btn_disabled .txt_type {
    color: #fff;
    opacity: .8
}

.btn_close1 {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    width: 44px;
    height: 38px;
    border: 0;
    background: url(../../../../../res.kurly.com/mobile/service/common/1910/ico_close_333_88x76.png) no-repeat 50% 50%;
    background-size: 44px 38px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px
}

.layer_btn1 .btn,
.layer_btn2 .btn,
.layer_close {
    width: 100%;
    height: 48px;
    border: 0;
    border-radius: 4px;
    border: 1px solid #5f0081;
    background-color: #5f0080;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    line-height: 49px;
    text-align: center
}

.layer_btn1,
.layer_btn2 {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: #fff
}

.layer_btn1 .btn_type1 .txt_type,
.layer_btn2 .btn_type1 .txt_type,
.layer_btn2 .btn_type2 .txt_type {
    width: 100%;
    border: 0;
    border-radius: 4px;
    background: 0 0
}

.layer_btn2 {
    padding: 15px 19px
}

.layer_btn2 .btn:first-child {
    border: 1px solid #5f0081;
    background-color: #fff;
    color: #5f0080
}

.layer_btn2 .btn:first-child .txt_type {
    color: #5f0080
}

.layer_btn2 .btn_type2,
.layer_btn2 .btn:first-child {
    float: left;
    width: 50%;
    margin: 0 4px 0 -4px
}

.layer_btn2 .lst,
.layer_btn2 .btn:last-child,
.layer_btn2 .btn_type1 {
    float: right;
    width: 50%;
    margin: 0 -4px 0 4px;
    background-color: #5f0080;
    color: #fff
}

.layer_btn1 .only_one,
.layer_btn2 .only_one,
.layer_btn1 .btn,
.layer_btn1 .btn_type1,
.layer_btn1 .btn_type2 {
    width: 100%
}

.btn_delivery_close,
.choice_agree .btn_ok {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 56px;
    border: 0;
    border-top: 1px solid #f7f7f7;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    font-weight: 600;
    font-size: 16px;
    color: #5f0080;
    line-height: 58px;
    text-align: center
}

.btn_delivery_close {
    z-index: 1
}

.btn_delivery_close.focus {
    bottom: auto;
    left: auto;
    top: 30px;
    right: 0;
    width: 44px;
    height: 38px;
    border: 0;
    background: url(https://res.kurly.com/mobile/service/common/1910/ico_close_333_88x76.png) no-repeat 50% 50%;
    background-size: 44px 38px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px
}

.btn_fixed_type {
    position: fixed;
    display: flex;
    z-index: 2;
    left: 0;
    bottom: 49px;
    width: 100%;
    padding: 12px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    padding-bottom: calc(12px + var(--safe-area-inset-bottom))
}

.btn_fixed_type .btn:not(:first-of-type) {
    margin-left: 7px
}

.btn_fixed_type .btn {
    display: block;
    width: 100%;
    height: 52px;
    border: solid 1px #ddd;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 54px;
    text-align: center;
    outline: none;
    background-color: #fff
}

.btn_fixed_type .btn.active {
    border: 1px solid #5f0081;
    background-color: #5f0080;
    color: #fff
}

.btn_fixed_type .btn.normal {
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333
}

.btn_fixed_type .btn.default {
    border: 1px solid #5f0080;
    background-color: #fff;
    color: #5f0080
}

.btn_fixed_type .btn.disabled,
.btn_fixed_type .btn:disabled {
    background-color: #ddd;
    color: #fff;
    cursor: default
}

textarea::placeholder,
input[type=search]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder,
input[type=text]::placeholder,
input[type=number]::placeholder {
    color: #ccc;
    opacity: 1
}

textarea::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder {
    color: #ccc;
    opacity: 1
}

textarea::-moz-placeholder,
input[type=search]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=text]::-moz-placeholder,
input[type=number]::-moz-placeholder {
    color: #ccc;
    opacity: 1
}

textarea:-ms-input-placeholder,
input[type=search]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=text]:-ms-input-placeholder,
input[type=number]:-ms-input-placeholder {
    color: #ccc;
    opacity: 1
}

input[type=number]::placeholder,
input[type=number]::-webkit-input-placeholder,
input[type=number]::-moz-placeholder,
input[type=number]:-ms-input-placeholder,
input[type=number]:-moz-placeholder {
    text-align: center
}

input[type=search],
input[type=name],
input[type=email],
input[type=password],
input[type=text],
input[type=number],
textarea,
.field_address .txt_address,
.birth_day {
    width: 100%;
    height: 48px;
    padding: 0 11px 1px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=search]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=number]:focus,
textarea:focus,
.birth_day.on {
    border: 1px solid #333
}

input[type=search].disabled,
input[type=search]:disabled,
input[type=email].disabled,
input[type=email]:disabled,
input[type=password].disabled,
input[type=password]:disabled,
input[type=text].disabled,
input[type=text]:disabled,
input[type=number].disabled,
input[type=number]:disabled {
    border: 1px solid #ddd;
    background-color: #fff;
    color: #ddd
}

input[type=search]::-webkit-clear-button,
input[type=email]::-webkit-clear-button,
input[type=password]::-webkit-clear-button,
input[type=text]::-webkit-clear-button,
input[type=number]::-webkit-clear-button {
    display: none
}

textarea {
    height: auto;
    resize: none
}

label {
    position: relative;
    font-size: 16px;
    color: #333;
    line-height: 24px
}

label .extra {
    color: #999
}

input[type=checkbox]+.ico {
    display: inline-block
}

input[type=checkbox]+.ico,
input[type=checkbox] {
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    border-radius: 2px;
    background: 0 0;
    vertical-align: -2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input[type=checkbox]:focus {
    outline: 0
}

input[type=checkbox]:checked+.ico,
input[type=checkbox]:checked {
    border-radius: 0;
    border: 0;
    background: transparent url(https://res.kurly.com/mobile/service/common/1908/ico_checkbox_checked.png) no-repeat 0 0;
    background-size: 16px 16px
}

input[type=checkbox]:disabled {
    border: 1px solid #ddd
}

input[type=checkbox]+.ico {
    margin-right: 6px
}

input[type=checkbox].checkbox_all+.ico,
input[type=checkbox].checkbox_all {
    margin-right: 6px;
    border: 1.5px solid #999
}

input[type=checkbox].checkbox_all:checked+.ico,
input[type=checkbox].checkbox_all:checked {
    border: 0
}

input[type=checkbox].checkbox_all:disabled+.ico,
input[type=checkbox].checkbox_all:disabled {
    border: 1.5px solid #999
}

.select_check input[type=checkbox] {
    float: left
}

.label_checkbox {
    display: inline-block;
    padding-left: 27px;
    text-indent: -27px
}

.label_checkbox input[type=checkbox] {
    margin-right: 6px
}

.checkbox_link {
    position: relative
}

.checkbox_link .label_checkbox {
    padding-right: 70px
}

.link_more {
    position: absolute;
    top: 2px;
    right: 0;
    padding-right: 11px;
    background: url(https://res.kurly.com/mobile/service/common/1908/ico_arrow_5f0080_16x22.png) no-repeat 100% 2px;
    background-size: 8px 12px;
    font-size: 14px;
    color: #5f0080;
    line-height: 18px
}

input[type=radio]+.ico {
    display: inline-block
}

input[type=radio]+.ico,
input[type=radio] {
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    border: 1px solid #999;
    background-color: #fff;
    border-radius: 100%;
    vertical-align: -3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input[type=radio]:focus {
    outline: 0
}

input[type=radio]:checked+.ico,
input[type=radio]:checked {
    border: 1px solid #5f0081;
    background-color: #5f0080
}

input[type=radio]:checked+.ico:after,
input[type=radio]:checked:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 6px;
    margin: -3px 0 0 -3px;
    border-radius: 100%;
    background-color: #fff
}

input[type=radio]:disabled {
    border: 1px solid #ddd
}

label.label_radio {
    display: inline-block;
    padding-left: 26px;
    text-indent: -26px
}

label.label_line {
    display: block;
    height: 50px;
    padding-top: 14px;
    border-bottom: 1px solid #f4f4f4
}

label.label_line.checked {
    background-color: #ede9f0
}

label.label_selectbox.label_line,
label.label_radio.label_line {
    padding-left: 0;
    text-indent: 0
}

.select_arrow {
    display: block;
    position: relative;
    width: 100%;
    pointer-events: none
}

.select_arrow:after {
    content: "";
    position: absolute;
    right: 1px;
    bottom: 0;
    width: 40px;
    height: 40px;
    background: url(https://res.kurly.com/mobile/service/goodsview/2011/ico_drop_up.svg) no-repeat 50% 50%;
    background-size: 40px 40px;
    pointer-events: none
}

.screen_out {
    display: block;
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px
}

.bg_loading {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5
}

.noBody .bg_loading {
    display: block!important
}

.section_order+.bg_loading {
    background-color: #000
}

.loading_show {
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    width: 32px;
    height: 32px;
    background: url(https://res.kurly.com/pc/img/1909/img_loading_128x128.gif) no-repeat 50% 50%;
    background-size: 16px 16px
}

.section_end .benefit_imc .list_benefit {
    padding-top: 14px;
    font-size: 0;
    text-align: center
}

.section_end .benefit_imc .list_benefit li {
    width: 154px;
    height: 78px;
    background: url(https://res.kurly.com/kurly/img/2021/receipt_154_78.svg) no-repeat 50% 50%;
    font-size: 11px;
    color: #b5b5b5;
    line-height: 15px;
    letter-spacing: -.33px
}

.section_end .benefit_imc .list_benefit li:first-child {
    margin-right: 15px
}

.section_end .benefit_imc .list_benefit .emph {
    display: block;
    padding: 15px 0 6px;
    font-weight: 600;
    font-size: 16px;
    color: #fff
}

@media screen and (max-width:359px) {
    .section_end .benefit_imc .list_benefit li {
        display: block;
        margin: 0 auto
    }
    .section_end .benefit_imc .list_benefit li:first-child {
        margin: 0 auto 10px
    }
}

.page_order .btn_order .msg_event {
    display: block;
    position: relative;
    width: 100%;
    height: 36px;
    margin: 9px 0 19px;
    padding-top: 6px;
    border: 1px solid #5f0080;
    border-radius: 4px;
    background-color: #fff;
    font-weight: 600;
    font-size: 14px;
    color: #333;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(51, 51, 51, .1)
}

.page_order .btn_order .msg_event .emph {
    color: #5f0080
}

.page_order .btn_order .msg_event:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -14px;
    width: 16px;
    height: 19px;
    margin-left: -9px;
    background: url(https://res.kurly.com/kurly/img/2021/picker_16_9.svg) no-repeat 50% 50%
}

.mypage_top .benefit_imc {
    overflow: hidden;
    position: relative;
    margin-top: 1px;
    background-color: #fff;
    letter-spacing: -.3px
}

.mypage_top .benefit_imc .tit {
    position: absolute;
    left: 20px;
    top: 15px;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    line-height: 20px
}

.mypage_top .benefit_imc .sub {
    display: block;
    padding-top: 3px;
    font-weight: 400;
    font-size: 12px;
    color: #666;
    line-height: 16px
}

.mypage_top .benefit_imc .time {
    padding: 14px 20px 14px 0;
    text-align: right
}

.mypage_top .benefit_imc .day_count {
    padding-bottom: 2px;
    font-weight: 700;
    font-size: 0;
    line-height: 22px
}

.mypage_top .benefit_imc .day_count:before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 20px;
    margin: 1px 4px 0 0;
    background: url(https://res.kurly.com/mobile/ico/2010/ico_timer_13_20.svg) no-repeat 50% 50%;
    background-size: 13px 20px;
    vertical-align: top
}

.mypage_top .benefit_imc .day_count span {
    display: inline-block;
    width: 33px;
    font-size: 18px;
    color: #1a1a1a;
    vertical-align: top;
    white-space: nowrap
}

.mypage_top .benefit_imc .day_count span:after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 22px;
    margin-left: 3px;
    background: url(https://res.kurly.com/mobile/ico/2010/ico_semicolon_5_22.svg) no-repeat 50% 50%;
    background-size: 3px 10px;
    vertical-align: top
}

.mypage_top .benefit_imc .day_count span.day {
    width: auto;
    padding-right: 2px;
    font-size: 18px;
    color: #ffaf19
}

.mypage_top .benefit_imc .day_count .day:after {
    display: none
}

.mypage_top .benefit_imc .day_count .s {
    width: 25px
}

.mypage_top .benefit_imc .day_count .s:after {
    display: none
}

.mypage_top .benefit_imc .date {
    display: block;
    font-size: 12px;
    color: gray;
    line-height: 16px
}

.mypage_top .benefit_imc .emph {
    font-weight: 700
}

.mypage_top .benefit_imc .end {
    height: 32px
}