
.swiper {
  width: 100%;
  height: 37%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0;
  transition: 0.3s;
  
}

.swiper-button-prev::after{
  position: relative;
  left: 6.5em;
  padding: 25px;
  color: #ff000000;
  background:url(https://res.kurly.com/pc/service/main/1908/ico_prev1_x1.png) no-repeat 50% 50%;
}

.swiper-button-next::after{
  position: relative;
  right: 6.5em;
  padding: 25px;
  color: #ff000000;
  background:url(https://res.kurly.com/pc/service/main/1908/ico_next1_x1.png) no-repeat 50% 50%;
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  opacity:1; 
}