nav.side-bar {
  background-color: #fff;
  bottom: 0;
  margin-left: -1000px;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: .6s;
  transition-timing-function: ease;
  width: 50%;
  z-index: 110
}

@media screen and (min-width:850px) {
  nav.side-bar {
    display: none
  }
}

nav.side-bar #cancel {
  color: #fff;
  cursor: pointer;
  font-size: 2em;
  position: absolute;
  right: 20;
  top: 0;
  transition: .6s
}

nav.side-bar #cancel:hover {
  color: #3d3d3d;
  transform: rotate(1turn)
}

nav.side-bar .top {
  background-color: #63d56d;
  color: #fff;
  font-size: 1.5em;
  height: 100px;
  letter-spacing: 2px;
  padding-top: 30px;
  text-align: center;
  text-shadow: grey 1px 1px 10px;
  width: 100%
}

nav.side-bar .links ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style-type: none;
  width: 100%
}

nav.side-bar .links ul li {
  border-bottom: 1px solid #ccc;
  line-height: 50px
}

nav.side-bar .links ul li a.active {
  background-color: #fafafa;
  color: #63d56d
}

nav.side-bar .links ul li a {
  border-left: 5px solid transparent;
  color: #333;
  display: block;
  font-size: 1em;
  padding-left: 40px;
  position: relative;
  text-decoration: none;
  transition: .1s;
  transition-timing-function: ease-in;
  width: 100%
}

nav.side-bar .links ul li a:hover {
  background-color: #fafafa;
  border-left-color: #63d56d;
  color: #63d56d
}

nav.side-bar .links ul li a:hover .down {
  transform: translateY(-50%) rotate(180deg)
}

nav.side-bar .links ul li a .down {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform .4s
}

nav.side-bar .links ul ul {
  display: none;
  position: static
}

nav.side-bar .links ul ul li {
  border-bottom: none;
  line-height: 40px
}

nav.side-bar .links ul ul li a {
  font-size: 15px;
  padding-left: 70px
}

nav.side-bar .links ul ul.show {
  display: block
}

* {
  font-family: Poppins, sans-serif
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

a,
button,
i {
  border: none;
  outline: none
}

.bg-green {
  background-color: #63d56d
}

.text-green {
  color: #63d56d
}

.border-green {
  border: solid #63d56d
}

.bg-gold {
  background-color: #f19b19
}

.text-gold {
  color: #f19b19
}

.bg-black {
  background-color: #333
}

.text-black {
  color: #333
}

.rounded {
  border-radius: 5px
}

.rounded-full {
  border-radius: 50%
}

.top-dropdown-menu {
  background: #faf9f9;
  border: none;
  border-top: 2px solid #63d56d;
  margin-top: 15px;
  max-width: 200px;
  overflow: hidden;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}

.top-dropdown-menu .dropdown-item {
  border-bottom: 1px solid #ccc;
  line-height: 35px;
  max-width: 200px;
  transition: all .2s ease
}

.top-dropdown-menu .dropdown-item:hover {
  border-left: 3px solid #63d56d;
  color: #63d56d;
  padding-left: 20px
}

.top-dropdown-menu .dropdown-item:focus {
  background-color: transparent
}

.navbar,
.navbar-v2 {
  background-color: hsla(0, 0%, 100%, .9);
  color: #333
}

.navbar-brand {
  font-size: 1.5em
}

.nav-link:hover {
  color: #63d56d
}

.filter ul li {
  line-height: 50px
}

.filter ul li a {
  border-left: 5px solid transparent
}

.filter ul li a:hover {
  background-color: #fafafa;
  color: #63d56d
}

.filter ul li a .down {
  transform: translateY(-50%)
}

.filter ul li a.avtive {
  background-color: #fafafa;
  color: #63d56d
}

.filter ul li a.avtive .down {
  transform: translateY(-50%) rotate(180deg)
}

.filter ul ul li label:hover {
  color: #63d56d
}

.filter ul ul li a {
  font-size: 15px;
  padding-left: 70px
}

.filter ul ul.show {
  display: block
}

.slider-container .bar .fill {
  background-color: #63d56d;
  border: 1 solid #000;
  width: 0
}

#distance::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #fff;
  border: 2px solid #63d56d;
  border-radius: 50%;
  box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0);
  cursor: pointer;
  height: 20px;
  outline: none;
  transform: rotate(-45deg) translate(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 20px
}

#distance::-webkit-slider-thumb:hover,
#distance:active::-webkit-slider-thumb {
  border-bottom-left-radius: 0;
  transform: rotate(-45deg) translate(75%, -75%)
}

#distance:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 5px #333
}

.range_v2::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #fff;
  border: 2px solid #63d56d;
  border-radius: 50%;
  box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0);
  cursor: pointer;
  height: 20px;
  outline: none;
  transform: rotate(-45deg) translate(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 20px
}